.header-container{
    width: 100%;
    height: 130px;
    margin: 0;
    background-color: white;
    z-index: 111111111;
    position: fixed;
    top: 0; /* Đảm bảo header được cố định ở trên cùng */
    left: 0; /* Đảm bảo header chiếm toàn bộ chiều ngang */
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.614);
.menu1 {
    width: 100%;
    display: flex;
    
    
    .left {
            width: 30%;
            display: flex;
            justify-content: flex-start;
            li{
                text-decoration: none;
                list-style-type: none;
                margin-right: 13px ;
                font-size: 15px;
                margin-top: 20px;
                font-weight: bold;
                color: rgb(126, 121, 121);
            }
            li:hover{
                color: #000;
            }
        
    }
        .right{
                width: 30%;
                
                display: flex;
                justify-content: flex-end;
                .toral{
                    background-color: #000;
                    border-radius: 50%;
                    padding: 3px;
                    width: 100%;
                    height: 100%;
                    color:white;
                }
                li{
                    text-decoration: none;
                    list-style-type: none;
                    margin-right: 13px;
                    font-size: 15px;
                    margin-top: 20px;
                    font-weight: bold;
                    color: rgb(126, 121, 121);
                    
                }
                a{
                    text-decoration: none;
                }
                li:hover{
                    color: #000;
                }
    
        }
    }
    .logo{
        width: 40%;
        margin-top: 20px;
        justify-content: center;
        align-items: center;
        div{
            width:50%;
            margin: auto;
            img{
                width:100%;
                
            }
        }
        
    }

    .menu2{
        ul{
            display: flex;
            justify-content: center;
            text-decoration: none;
                list-style-type: none;
            li{
                text-decoration: none;
                list-style-type: none;
                list-style: none;
                margin-right: 70px;
                margin-top: 20px;
                font-size: 17px;
                font-weight: bold;
                color: rgb(126, 121, 121);
                
                
            }
            li:hover{
                color: #000;
            }
            Link{
                text-decoration: none;
                list-style: none;
            }
            a{
                text-decoration: none;
                list-style: none;
            }
        }
    }
}
.tofixed{ 
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
